repos:
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
- repo: https://github.com/charliermarsh/ruff
  rev: v0.3.0
  hooks:
  - id: ruff
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
